.caixa{
    background-color: #3F51B5;
}

.titulo{
    color: white!important; 
    font-weight: bold!important;
}

.button{
    border-color:white!important;
     background-color: #3F51B5!important;
     color: white!important;

}

.postagens{
    background-color: white!important;
}


.img {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.titulo{
    color: blue;
    text-align: center;
  
}